streamlit
pandas
numpy
sentence-transformers
requests
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
langchain-google-genai
streamlit
langchain
langchain-core
langchain-community
langchain-groq
sentence-transformers
pysqlite3-binary
